{{view App.SideBar store=store}}
<div class="row" style="position: absolute;top: 0;width: 100%;">
  <div class="col-md-12">
    {{view App.Masonry}}
      {{#each item in model itemController="card"}}
        {{#if display}}
          {{#if item.onMainDisplay}}
            {{#if templates}}
              {{#if item.isTemplate}}
              <div class=''>
                {{title-card model=item CreateNotification='CreateNotification' openModal='openModal' templateArr=templateArr store=store isOnMain='true'}}
              </div>
              {{/if}}
            {{else}}
              {{#unless item.isTemplate}}
              <div class=''>
                {{title-card model=item CreateNotification='CreateNotification' openModal='openModal' templateArr=templateArr store=store isOnMain='true'}}
              </div>
              {{/unless}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}
    {{view App.Masonry}}
  </div>
</div>
