<div class="row" style="margin-top:30px">
  <div class="col-md-1">
    <button type="button" class="btn btn-default btn-sm"  style="width:100px" {{action  'NewCard'}}>
      <span class="glyphicon glyphicon-plus"></span> Card
    </button>
  </div>
  <div class="col-md-2">
    View:{{view Ember.Select content=views selectionBinding=selectedView}}
  </div>
</div>
<div >
  {{#each item in model itemController="card"}}
    {{#if display}}
      {{#if item.onMainDisplay}}
        <div class='col-md-4'>
            {{title-card model=item CreateNotification='CreateNotification' openModal='openModal' templateArr=templateArr store=store}}
        </div>
      {{/if}}
    {{/if}}
  {{/each}}
</div>