
<div class="panel panel-default col-md-6" style="padding:20px">
    <div class="row borded" >
      <div class="col-md-10">
        <h4>{{title}}</h4>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-default btn-sm" {{action edit}}>
          <span class="glyphicon glyphicon-plus" ></span> New
        </button>
      </div>
    </div>
    <div class="panel-body"  >
      {{yield}}
    </div>
  </div>
{{#if isEditing}}
  {{#view App.PopupView viewName="popup"}}
<button id="closeButton" type="button" class="close" aria-hidden="true">&times;</button>
    {{link-form store=store section=section}}
    {{!--{{#if IsLink}}
      {{link-form store=store card=card}}
    {{/if}}
    {{#if IsTask}}
      {{tasks-form}}
    {{/if}}
    {{#if IsDocument}}
      {{documents-main documents=documents }}
    {{/if}}
    {{#if IsQuestion}}
      {{question-main questions=questions}}
{{/if}}--}}
  {{/view}}
{{/if}}




