{{barsStart}}#if parent{{barsEnd}}
  {{barsStart}}#if isEmbedded{{barsEnd}}
  {{barsStart}}#if model.children.length{{barsEnd}}
    {{barsStart}}#link-to 'card' model.id{{barsEnd}}{{barsStart}}model.title{{barsEnd}}{{barsStart}}/link-to{{barsEnd}}
  {{barsStart}}else{{barsEnd}}
    <h5><b>{{barsStart}}model.title{{barsEnd}}</b></h5>
  {{barsStart}}/if{{barsEnd}}
    {{#plugins}}
    {{barsStart}}#if is{{name}}{{barsEnd}}
      {{barsStart}}{{nameLower}}-main modelSateChange = 'modelSateChange' model=model data=model.attachments startLoading = StartLoading endLoading = EndLoading store=store{{barsEnd}}
    {{barsStart}}/if{{barsEnd}}
    {{/plugins}}
  {{barsStart}}/if{{barsEnd}}
  {{barsStart}}else{{barsEnd}}
  {{#plugins}}
    {{barsStart}}#if is{{name}}{{barsEnd}}
      {{barsStart}}{{nameLower}}-main modelSateChange = 'modelSateChange' model=model data=model.attachments startLoading = StartLoading endLoading = EndLoading store=store{{barsEnd}}
    {{barsStart}}/if{{barsEnd}}
  {{/plugins}}
{{barsStart}}/if{{barsEnd}}
