{{barsStart}}#if parent{{barsEnd}}
  {{barsStart}}#if isEmbedded{{barsEnd}}
    {{#plugins}}
    {{barsStart}}#if is{{name}}{{barsEnd}}
      {{barsStart}}{{nameLower}}-main modelSateChange = 'modelSateChange' model=model data=model.attachments store=store{{barsEnd}}
    {{barsStart}}/if{{barsEnd}}
    {{/plugins}}
  {{barsStart}}/if{{barsEnd}}
  {{barsStart}}else{{barsEnd}}
  {{#plugins}}
    {{barsStart}}#if is{{name}}{{barsEnd}}
      {{barsStart}}{{nameLower}}-main modelSateChange = 'modelSateChange' model=model data=model.attachments store=store{{barsEnd}}
    {{barsStart}}/if{{barsEnd}}
  {{/plugins}}
{{barsStart}}/if{{barsEnd}}


