<div >
  {{#if store}}
  <div class="col-sm-1" style="margin-right:20pxpx;z-index:100;position:fixed;">
    <button type="button" class="btn btn-default btn-sm"  style="width:100%" {{action NewCard}}>
      <span class="glyphicon glyphicon-plus"></span> Card
    </button>
  </div>
  <div class="col-md-4 sidebar-forms" {{bind-attr style=DisplayForm}}>
    <div class="col-md-12" >
      {{#if card}}
      {{card-form store=store templates=templates}}
      {{/if}}
      {{#if link}}
      {{link-form store=store}}
      {{/if}}
    </div>
  </div>
  {{/if}}
</div>