<form role="form">
  <div class="form-group">
    <label for="link">Task </label>
    {{input type="text" value=link class="form-control"  id="link" placeholder="Enter link"}}
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    {{view App.TaggerView viewName="tagger"}}
  </div>
  {{#if id}}
    <button type="submit" class="btn btn-success" {{action Submit}}>Save</button>
  {{else}}
    <button type="submit" class="btn btn-default" {{action Submit}}>Submit</button>
  {{/if}}
</form>