<div class='qq' style="padding-left:0px;float:left;position:relative;margin:15px">
<!--div class='col-md-11' style="padding-left:0px"-->
  <div class="panel panel-default" style="padding:20px;width:400px;margin-bottom:0px">
    {{#if isLoading}}
    <div class="cardOverlay">
      <img  style="margin-left: 45%;margin-top: 20%;" src="Content/ajax-loader.gif">
    </div>
    {{/if}}
    <div class='row'>
      <div class="col-sm-5 col-lg-5 col-md-5">
        {{#if isEditing}}
        {{input type="text" class="form-control" value=model.title action="Save"}}
        {{else}}
        {{#unless isRoot}}
          <h4>{{#link-to 'card' model.id}}{{model.title}}{{/link-to}}</h4>
        {{else}}
          <h4>{{model.title}}</h4>
        {{/unless}}
        {{/if}}
      </div>
      <div class="col-sm-1 col-lg-1 col-md-1 pull-right" style="position: absolute;top: -10px;right: 15px;">
        <br />
        {{!#if showControlls}}
        {{!#unless isLoading}}
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {{#unless model.isTrashed}}
              <li><a href="#" {{action "Delete"}}>Trash</a></li>
              <li><a href="#" {{action "ToggleEdit"}}>Edit</a></li>
              <li><a href="#" {{action "Share"}}>Share</a></li>
              {{#unless isRoot}}
                  <li><a href="#" {{action 'EditCardSetting'}}>Settings</a></li>
              {{/unless}}
              <li class="divider"></li>
              <li><a href="#" {{action 'NewCard'}}>New Subcard</a></li>
              <li><a href="#" {{action SaveAsTemplate}}>Save as type</a></li>
            {{else}}
              <li><a href="#" {{action "restore"}}>Restore</a></li>
              <li><a href="#" {{action "Delete"}}>Delete</a></li>
            {{/unless}}
          </ul>
        </div>
        {{!/unless}}
        {{!/if}}
      </div>
      <div class="col-sm-4 col-lg-4 col-md-4 pull-right">
        <h4 style="float:right;">{{model.user.name}}</h4>
      </div>
    </div>
    <div class='row' style="height:400px;">
      <div class="panel-body">
        {{render-plugin model=model store=store}}
        {{#unless isRoot}}
          {{#each child in model.children}}
            {{render-plugin model=child parent=model store=store}}
          {{/each}}
        {{/unless}}
      </div>
    </div>
    <div class='row'>
      <div class="panel-footer" style="background-color: white;">
        {{#if isEditing}}
        <br />
        {{view App.TaggerView viewName="tagger" contentBinding=updatedTags instanceBinding=tagger initTags=tags}}
        <br />
        <button class="btn btn-default" {{action 'Save'}}>save </button>
        {{else}}
          {{#each model.tags}}
          <span class="label label-success">{{title}}</span>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
