{{#if showControlls}}
 {{#unless isLoading}}
<div class="" style="padding-right:0px;float: left;margin-right: 10px;padding-right:0px">
  <div class="row">
    <button type="button" class="btn btn-default btn-xs" {{action "Delete" on="mouseDown"}}>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-share-alt"></span>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default btn-xs"  {{action "ToggleEdit" on="click"}}>
      {{#if editing}}
      <span class="glyphicon glyphicon-check"></span>
      {{else}}
      <span class="glyphicon glyphicon-edit"></span>
      {{/if}}
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default btn-xs" {{action 'NewCard'}}>
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  {{#unless isMain}}
  <div class="row">
    <button type="button" class="btn btn-default btn-xs" {{action  'openModalSource' 'cardSettings' model parent}}>
      <span class="glyphicon glyphicon-cog"></span>
    </button>
  </div>
  {{/unless}}
</div>
  {{/unless}}
{{/if}}
<div class='col-md-11' style="padding-left:0px">
  <div class="panel panel-default" style="padding:20px">
    {{#if isLoading}}
    <div class="cardOverlay">
      <img  style="margin-left: 45%;margin-top: 20%;" src="Content/ajax-loader.gif">
    </div>
    {{/if}}
    <div class="col-md-8">
      {{#if isEditing}}
      {{input type="text" class="form-control" value=model.title action="Save"}}
      {{else}}
      <h4>{{#link-to 'card' model.id}}{{model.title}}{{/link-to}}</h4>
      {{/if}}
    </div>
    <div class="col-md-4">
      <h4 style="float:right;">{{model.user.name}}</h4>
    </div>
    <div class="panel-body">
      {{render-plugin model=model store=store}}
      {{#if isMain}}
      <button class="btn btn-default" {{action SaveAsTemplate}}>Save as tempalte</button>
      {{view App.DropCube store=store}}
      {{/if}}
      {{#unless isMain}}
        {{#each child in model.children}}
          {{render-plugin model=child parent=model store=store}}
        {{/each}}
      {{/unless}}
    </div>
    <div class="panel-footer" style="background-color: white;">
      {{#each model.tags}}
      <span class="label label-success">{{title}}</span>
      {{/each}}
      {{#if isEditing}}
      <button class="btn btn-default" {{action 'Save'}}>save </button>
      {{/if}}
    </div>
  </div>
</div>
