{{#modal-dialog action="close"}}
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    {{input type="text" value=model.title class="form-control"  id="title" placeholder="Section title"}}
  </div>
  <div class="form-group">
    <label>Display on card</label>
    {{view Ember.Select content=options selectionBinding=displayOnCard class="form-control"}}
  </div>
  <div class="form-group">
    <label>Display on card</label>
    {{view Ember.Select content=positions selectionBinding=model.position class="form-control"}}
  </div>
  <button type="submit" class="btn btn-success" {{action Submit}}>Save</button>
</form>
{{/modal-dialog}}
