HTML {
  height:100%
}
BODY {
  background-color: #E5E5E5;
  height:100%
}
.container-fluid{
  height:100%;
}
.card {
  width: 600px;
  position: absolute;
}
.borded {
  border: 1px solid #d8d8d8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
}
.controlls {
  width: 40px;
  position: absolute;
  left: -10px;
  background-color: #E5E5E5 -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-left-width: 2px;
  padding-left: 10px;
}
.sidebar-forms {
  z-index: 100;
  left: 8.333333333333332%;
  position: fixed;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-lft: 0px;
  padding: 10px;
}
.contextMenu {
  padding: 0px;
  margin: 0px;
}
.modaler {
  margin: 10px auto;
  width: 300px;
  background-color: #fff;
  padding: 1em;
}
.notification {
  margin: 10px auto;
  width: 300px;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20000;
}
.flush--top {
  margin-top: 0;
}
.jumbotron {
  height: 1000px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.second {
  background: #4B66A0
}
.image-view {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.mainAlert {
  z-index: 20000;
  position: absolute;
  width: 300px;
  text-align: center;
}
.cardOverlay {
  height: 93%;
  width: 97%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}
.sidebar {
  background: white;
  position: fixed;
  right: 0px;
  top: 51px;
  width:250px;
  z-index:150;
  height: 100%;
}

.sidebarButton{
  cursor:pointer;
  border-top:1px grey solid;
  border-bottom:1px grey solid;
  margin-bottom:10px;
  text-align:center
}

.sidebarObject{
  margin-left:0px;
  margin-right:0px;
  margin-bottom:10px
}

.ember-view{
  height:100%
}
