<div class="container">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-8">
      <h3>{{model.title}}</h3> by {{model.user.name}} <br />
      {{#each model.tags}}
        <span class="label label-success">{{title}}</span>
      {{/each}}
        <button class="btn btn-default" {{action SaveAsTemplate}}>Save as tempalte</button>
        {{view App.DropCube store=store}}
      </div>

      <div class="col-md-3">
        {{card-controlls card=model store=store}}
      </div>
    </div>
    {{#each section in model.sections itemController="section"}}
      <div class="panel panel-default col-md-6" style="padding:20px;display:inline-block">
      <div class="row borded" >
        <div class="col-md-10">
          {{#if isEditing}}
            {{input type="text" value=section.title size="50" action="UpdateSection"}}
          {{else}}
            <h4 {{action 'ToggleEdit'}}>{{title}}</h4>
          {{/if}}
        </div>
        <div class="pull-right">
          <span  {{bind-attr class=chevron}} {{action collapse}}></span>
          <span class="glyphicon glyphicon-remove" {{action deleteSection}}></span>
        </div>
      </div>
     {{!#if isCollapsed}}
        <div class="panel-body">
          {{#if isLinks}}
            {{links-main title = section.title section=section data=section.attachments card=card store=store}}
            {{#if isEditing}}
              {{#view App.PopupView viewName="popup"}}
              {{link-form store=store section=section}}
              {{/view}}
            {{/if}}
          {{/if}}
          {{#if isTask}}
            {{tasks-main title = section.title data=section.attachments section=section store=store}}
            {{#if isEditing}}
              {{#view App.PopupView viewName="popup"}}
              {{tasks-form store=store section=section}}
              {{/view}}
            {{/if}}
          {{/if}}
          {{#if isDocument}}
            {{document-main title = section.title data=section.attachments section=section store=store}}
            {{#if isEditing}}
              {{#view App.PopupView viewName="popup"}}
              {{document-form store=store section=section}}
              {{/view}}
            {{/if}}
          {{/if}}
          {{#if isQuestions}}
            {{question-main title = section.title data=section.attachments section=section store=store}}
          {{/if}}
          {{#if isProperties}}
              {{property-main title = section.title data=section.attachments section=section store=store}}
          {{/if}}
          {{#if isTextArea}}
            {{text-area title = section.title data=section.attachments section=section store=store}}
          {{/if}}
        {{#if isCard}}
          {{#each item in section.attachments}}
        {{#link-to 'card' item.data.cardid}}Go to card{{/link-to}}
          {{/each}}
          {{!title-card title=section.title idz=id}}
        {{/if}}
      </div>
      {{!/if}}
    </div>
    {{/each}}

  </div>
</div>
