<div class="container">
  <div class="col-md-6">
    <div class="row">
      {{title-card description=model.description title=model.title username=model.user.name tags=model.tags}}
    </div>
        <div class="row">
      {{tasks-main tasks=tasks }}
    </div>
  </div>
  <div class="col-md-5">
        <div class="row">
      {{question-main questions=questions}}
    </div>
        <div class="row">
      {{link-main links=links card=model store=store}}
    </div>
        <div class="row">
       {{documents-main documents=documents }}
    </div>
  </div>
