
<div class="container">
  <div class="col-md-12">
    <div class="col-md-6">
      {{title-card model=model tags=model.tags openModal='openModal' templateArr=templateArr isEditing=isEditing store=store}}
      <button class="btn btn-default" {{action SaveAsTemplate}}>Save as tempalte</button>
      {{view App.DropCube store=store}}
    </div>
    {{!render 'children' this}}
    {{#each child in model.children}}
    <div class="col-md-6">
      {{title-card model=child tags=child.tags openModal='openModal' templateArr=templateArr isEditing=isEditing store=store}}
    </div>
    {{/each}}
  </div>
</div>
