{{#each child in this.children itemController="children"}}
  {{#unless child.isDeleted}}
    {{!#view App.DraggableSection}}
      <div class="panel panel-default col-md-6" style="padding:20px;display:inline-block">
        <div class="row borded" >
          <div class="col-md-10">
            {{#if isEditing}}
            {{input type="text" value=child.title size="50" action="UpdateSection"}}
            {{else}}
            <h4 {{action 'ToggleEdit'}}>{{title}}</h4>
            {{/if}}
          </div>
          <div class="pull-right">
            <span  {{bind-attr class=chevron}} {{action collapse}}></span>
            <span class="glyphicon glyphicon-remove" {{action deleteSection}}></span>
            <span class="glyphicon glyphicon-cog"  {{action  'openModalSource' 'sectionSettings' child child.parent}}></span>
          </div>
        </div>
        <!--div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Alls good here!</strong>
        </div>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Busy saving your info!</strong>
        </div>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Oops something went wrong!</strong>
        </div-->

        {{!#if isCollapsed}}

        <div class="panel-body">
          {{#if isList}}
          {{links-main modelSateChange = 'modelSateChange' openModal='openModal' title = child.title model=child data=child.attachments card=card store=store}}
          {{/if}}
          {{#if isTask}}
          {{tasks-main modelSateChange = 'modelSateChange'  openModal='openModal' title = child.title data=child.attachments model=child store=store}}
          {{/if}}
          {{#if isDocument}}
          {{document-main modelSateChange = 'modelSateChange'  openModal='openModal' title = child.title data=child.attachments model=child store=store}}
          {{/if}}
          {{#if isTitled_Notes}}
          {{question-main modelSateChange = 'modelSateChange'  openModal='openModal' title = child.title data=child.attachments model=child store=store}}
          {{/if}}
          {{#if isProperties}}
          {{property-main modelSateChange = 'modelSateChange'  openModal='openModal' title = child.title data=child.attachments model=child store=store}}
          {{/if}}
          {{#if isText_Area}}
          {{text-area modelSateChange = 'modelSateChange'  openModal='openModal' title = child.title data=child.attachments model=child store=store}}
          {{/if}}
          {{#if isImage}}
          {{photos-main modelSateChange = 'modelSateChange'  openModal='openModal' title = child.title data=child.attachments model=child store=store}}
          {{/if}}
          {{#if isCard}}
          {{card-section modelSateChange = 'modelSateChange'  model=section store=store}}
          {{!title-card title=section.title idz=id}}
          {{/if}}
        </div>
        {{!/if}}
      </div>
    {{!/view}}
    {{!/view}}
  {{/unless}}
{{/each}}