<div class="jumbotron">
  <h1>Welcome to cards</h1>
  This is a pretty alpha version of the website that is continously evolving, so expect some things to break now and again
  <br />
  Knowing this eventuality, we have created a card for you to link bugs that you run into {{#link-to 'card' 295}}Report bugs here{{/link-to}}
  <h4> <b> Release notes </b> </h4>
  <p>
  </p>
  <p>
    Side bar has been replaced by the down arrow next to name on cards CLICK IT :)
  </p>
  <p>
    image and document card now have a upload button, when the modal appears click title, currently only Drag and drop works
  </p>
  <p>
    added Parents: above card, in card view if the card has any parents you the name will appear in blue you can click that link to go to the parent
  </p>
</div>