<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Tags</th>
    <th></th>
    <th></th>
  </tr>
  {{#each itemController="link"}}
  <tr>
    {{#if isEditing}}
    <td>{{model.title}}
      {{#view App.PopupView}}
      {{link-form store=store id=model.id title=model.title link=model.href controller=this}}
      {{/view}}
    </td>
    {{else}}
    <td>{{model.title}}</td>
    {{/if}}

    <td>{{model.href}}</td>
    <td>{{#each model.tags}}{{title}}{{/each}}</td>
    <td><button type="button" class="btn btn-danger" {{action del}}>Delete</button></td>
    <td><button type="button" class="btn btn-warning" {{action edit}}>Edit</button></td>

  </tr>
  {{/each}}

</table>


